body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("http://k42.kn3.net/taringa/C/5/9/1/9/7/agente867/12B.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
}
h1{
	 font-variant: small-caps;
	 font-size: 50px;
	 background-color:#92a8d1;
	 text-align:center;
}
nav{
	font-size: 95%;
	 line-height: 50%;
	 letter-spacing: 5px;
	 word-spacing: 30px;
}
p{
	font-size: large;
	text-align:right;
	
}
a{
	height:100px;
	width: 100px;
}
.primercolor{
	color:#0CE359;
	width:50%;
}
.segoncolor{
	color:#E3B80C;
	width:25%;
}
.tercercolor{
	color:#0C61E3;
	width:10%;
}
.fimg{
	height:150px;
	float:left;
}
.simg{
	height:50px;
	float:right;
}
.timg{
	height:150px;
	float:inherit;
}
.primera{
	display: inline;
}
.segona{
	display: inline-block;	
}
.tercera{
	display: block;	
}