div{
	display:inline-block;
	height:100px;
	width:100px;
	background-color:#0019FF;
	padding:50px;
	
	margin-top: 50px;
	margin-left:50px;
}
#div1{
	border-style:solid;
	border-width:5px;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
}
#div2{
	border-style:solid;
	border-width:5px;
	background-image: radial-gradient(green,blue,red,yellow);
}
#div3{
	border-style:solid;
	border-width:5px;
	background-image: linear-gradient(green,blue,red,yellow);
}
#div4{
	border-style:solid;
	border-width:5px;
	background-image: repeating-radial-gradient(green,blue,red,yellow);
}
#div5{
	border-style:solid;
	border-width:5px;
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
}
#div5:hover{
	width:772px;
}
#div6{
	border-style:solid;
	border-width:5px;
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function:ease;
	transform:translate(20px,20px);
}

#div7{
	border-style:solid;
	border-width:5px;
	transform:rotate(45deg);
}


#div8{
	border-style:solid;
	border-width:5px;
	transform:scale(0.4,0.3);
}

#div9{
	border-style:solid;
	border-width:5px;
	transform:skewX(45deg);
}


