header{
	height: 70px;
	float: center;
	background-color: #FF9200;
}
img{
	height: 50px;
	float: left;
	
}
	
nav{
	height: 20px;
	background-color: #37FF00;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
	margin-right: 75%;
	margin-bottom: 3px;
	border-width: 5px;
	border-color: #0000E0;
	border-style: solid;
	
}
h1{
	font-variant: small-caps;
	font-size: 50px;
	text-align:center;
}
a{
	height: 150%;
	width: 150%;
	display: inline;
	background-color:#00FFFF;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-color: blue;
	border-style: solid;
	text-align: center;
	font-variant: small-caps;
	font-style: italic;
	text-decoration-line: none;
	/*text-decoration-color: red;
	text-decoration-style: double;
	---m'agrada mes sense línia*/
}
a:visited {
  color: #400080;
}
a:hover { 
  background-color: blue;
}
a:active {
  background-color: red;
}
ul{
	text-align: left;
}
ol{
	text-align: left;
	list-style-type: upper-roman;
}
.fuente{
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-style: normal;
	color:blue;
	font-size: 100%;
	list-style-type: circle;	
	list-style-position: inside;
}
.fuente2{
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-style: italic;
	color:blue;
	font-size: 120%;
	list-style-type: square;
	list-style-position: outside;
}

.fuente3{
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-style: oblique;
	color:blue;
	font-size: 150%;
	list-style-type: lower-alpha;
	list-style-position: inside;
	list-style-image: url('./right_ou8_icon.ico');
}