/*Part superior de la pagina*/
*{
	font-family: Sans-serif;
}
#header{
	position:fixed;
	top: 0;
    left: 0;
    right: 0;
	background-color: black;
	text-align: center;
	color:yellow; 
	font-size:125%;
}
#header img:hover{
	filter: saturate(7);
	filter: brightness(150%);
}

#imgicon{
	width:100px;
}
#imglog{
	width:150px;
}
.login{
	float:right;
	margin-top:30px;
	margin-right:30px
}
.icono{
	float: left;
	width:10px;
	height:10px;
}

/*NAVEGADOR*/
#navegador{
	position:fixed;
	margin-top:70px;
	margin-left:-50px;
	width: 100%;
}
ul, ol{
	list-style: none;
	
}

.nav li a{
	background-color: #000;
	color:#fff;
	text-decoration: none;	
	padding: 10px 15px;
	display: block;
	
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
.nav li a:hover {
	background-color: #434343;
}
.nav > li{
	float:left;
}

.nav li ul{
	display: none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul{
	display: block;
}

.nav li ul li {
	position: relative;
}
.nav li ul li ul {
	right:-140px;
	top:0px;
}
body{
	background-image:url("./ImatgesHTML/MesCoses/Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*div*/
.primerdiv{
	margin-top: 100px;
	color: white;
}
.videojocs h1{
	margin: center;
	
}
.videojocs{
	margin-top: 10px;
	margin-right: 100px;
	border-style: solid;
	border-color: #FFFB00;
    border-width: 3px;
    border-top-right-radius: 20px;
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
	background-color: #FF6C00;
	color: black;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
img{
	width: 100px;	
}
.videojocs img {
	float: left;
	margin-right:10px
}

a{
	
	text-decoration: none;
}
.espaisuperior{
	margin-top: 100px;
}
.videojocs1{
	border-style: solid;
	border-color: #FFFB00;
    border-width: 3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
	background-color: #FF6C00;
	color: black;
	margin-left: auto;
	margin-right: 30%;
}
.videojocs1 img{
	width:11%;	
}
.videojocs:hover{
	background-color: #FFB680;
	width:90%;
	height:90%;
	
	transition-duration: 0.5s;
}
.videojocs1 img:hover{
	 filter: contrast(150%) brightness(125%);	 
}
#politiques{
	background-color: white;
}
#formulari{
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	align-items: center;
	background-color: #D3D000;
	align-content: center;
	display: block;
}



