/*Part superior de la pagina*/
*{
	font-family: Sans-serif;
}

#header{
	position:fixed;
	top: 0;
    left: 0;
    right: 0;
	background-color: black;
	text-align: center;
	color:yellow; 
	font-size:125%;
}
#imgicon{
	width:100px;
}
#imglog{
	width:150px;
}
.login{
	float:right;
	margin-top:30px;
	margin-right:30px
}
.icono{
	float: left;
	width:10px;
	height:10px;
}

/*NAVEGADOR*/
#navegador{
	position:fixed;
	margin-top:70px;
	margin-left:-50px;
}
ul, ol{
	list-style: none;
}

.nav li a{
	background-color: #000;
	color:#fff;
	text-decoration: none;	
	padding: 10px 15px;
	display: block;
}
.nav li a:hover {
	background-color: #434343;
}
.nav > li{
	float:left;
}

.nav li ul{
	display: none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul{
	display: block;
}

.nav li ul li {
	position: relative;
}
.nav li ul li ul {
	right:-140px;
	top:0px;
}
/*fieldset(body)*/
fieldset{
	margin-left:100px;
	margin-right:100px;
	margin-bottom:100px;
	margin-top:100px;
	background-color:white;
}
#imatgejoc{
	float:left; 
	margin:10px;
	width:200px;	
}
#imgcompra{
	
}
#imgcompra{
	width: 150px;
}
.blue{
	color:blue;
}
#preu{
	font-size:700%
}
iframe{
	 width:776px;
	 height:437px;
}
table, td{
	border: 1px solid black
}
body{
	background-image:url("../ImatgesHTML/MesCoses/Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}













